[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest
[submodule "extern/threadpool"]
	path = extern/threadpool
	url = https://github.com/PrimeIntellect-ai/threadpool
